html {
    font-size: 62.5%;
    box-sizing: border-box;
}
// 10px = 1 rem

*,
*:before,
*:after {
    box-sizing: inherit;
}
//  lo anteriror snipet de Paul Irrish
body{
font-family: $fuentePrincipal;
}
.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
  
}
img{
    max-width: 100%;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.6rem;
}
a{
text-decoration: none;
}

p {
    font-family: $fuentePrincipal;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: .03rem;
    line-height: 3.5rem;
    color: $gris-texto;
   
}

li {
    font-size: 1.8rem;
}
