
@mixin mobil {
    @media(min-width: $mobil){
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet){

        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop){

        @content;
    }
}
//se pone solo el numero de columnas = @include grid(2) por ejemp.
@mixin grid($columnas) {
    display: grid;
    grid-template-columns:  repeat($columnas, 1fr);
    column-gap: 20px;
}

@mixin boton-global ($color-fondo, $color-texto){
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color:$color-fondo;
    color: $color-texto;
    cursor: pointer;
}
