
//colores
$gris-base: #D6D1CA;
$amarillo-base: #FFF5C1;
$azul: #2533E1;
$amarillo-opuesto: #FFDD00;
$blanco: #FFF;
$negro: #000;






//FUENTES
// una vez que ya esta importada la fuente URL de googlefonts copiar y pegar a qui el nombre rules spec
$fuentePrincipal:'Montserrat', sans-serif;

// Medidas de fuentes
$delgada: 300;
$regular: 400;
$bold: 900;


//Mediaquieri
$mobil: 480px;
$tablet: 768px;
$desktop: 1200px;


//Separacion
$separacion: 5rem;