.header-inicio {
    background-image: url(/dist/img/vertical-subiendo-con-bolsa-pequena.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.header-inicio::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: .5;
}

@include tablet {
    .header-inicio {
        background-image: url(/dist/img/tres-en-escalera.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.header-contenido{
    padding-top: 50px;
}
.logo-suula{
    position: relative;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.logo-suula svg {
    fill: $azul;
}
.titulo-principal{
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 50px;

    margin-left: 10px;
    h1{
line-height: 3.5rem;

        font-family: $fuentePrincipal;
        font-weight: $bold;
        margin: 0px;
        font-size: 3.5rem;
    }
    h2{
        font-family: $fuentePrincipal;
        font-weight: $regular;
        margin: 0px;
        font-size: 3rem;
 
    }
}