.header-inicio {
    background-image: url(/dist/img/vertical-subiendo-con-bolsa-pequena.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    p {
        margin: 0px;
    }
}

@include tablet {
    .header-inicio {
        background-image: url(/dist/img/tres-en-escalera.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.header-contenido{
    padding-top: 50px;
}
.logo-suula{
    background-color: $amarillo-base;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.logo-suula svg {
    fill: $azul;
}
.titulo-principal{
    h1{

        font-family: $fuentePrincipal;
        font-weight: $regular;
    }
    h2{
        font-family: $fuentePrincipal;
        font-weight: $regular; 
    }
}