/*Barra de navegacion*/

.menu-desktop {
    display: none;
}
.menu-desktop {
    @include tablet {
        display: inline-block;
    }
}

.ham {
    font-size: 2.5rem;
    color: $gris-base;
    padding-right: 20px;
}
.ham {
    @include tablet {
        display: none;
    }
}

.navegacion-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegacion-desktop {
    @include tablet {
        align-items: center;
    }
}
/*listanavegacion*/

.lista-navegacion {
    background-color: $azul;
    width: 100%;
    position: absolute;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    // bottom:40px;
    height: 100vh;
    // opacity: 0;
    transition: all 0.9s;
    clip-path: circle(0% at 99% 100%);
    padding-top: 40px;
}
.crece .menu {
    // height: 90vh;
    // opacity: 1;
    position: absolute;
    bottom: 40px;
    clip-path: circle(170% at 99% 100%);
}

.lista-navegacion {
    @include tablet {
        display: none;
    }
}

.lista-navegacion li {
    list-style: none;
    text-align: center;
    padding: 20px;
}

.lista-navegacion li a {
    text-decoration: none;
    color: white;
}

.lista-navegacion ul {
    padding-left: 0px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    width: 40px;
}

.logo-txt {
    color: var(--color-primario);
    font-size: 1.5rem;
}

.boton-hamburguesa {
    border: none;
    padding: 10px;
    font-size: 2rem;
    background-color: transparent;
    color: var(--color-primario);
}
.nav-menu-principal {
    width: 100%;
    background-color: $azul;
    position: fixed;
    bottom: 0px;
    z-index: 2;
}
.nav-menu-principal {
    @include tablet {
        width: 100%;
        background-color: $azul;
        position: fixed;
        bottom: 0px;
    }
}
/*FIN de barra de navegacion mobil y desktop posicion fija*/
